<div class="container text-start">
  <div class="row">
      

    <div class="col">
     
    </div>

    <div class="col">
     <div class="col bg-white">
      <h2>Editar <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(Dejar en blanco si no la quieres cambiar)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Actualizar", class: "btn btn btn-secondary text-white mt-3" %>
        </div>

        <div class="container text-start mt-5 mb-2">
          <div class="col bg-white">
            <h4>Descontento?</h4>
            <div><%= button_to "Cancelar mi suscrpción", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn btn-secondary text-white" %></div>
          </div>
        </div>
        <%= link_to "Volver", :back %>
    </div>  
    </div>
      <div class="col">
     
    </div>
<% end %>

