<%= form_with(model:  [@publication, @comment]) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> No se pudo guardar el comentario</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container mt-5">
    <div>
      <%= form.label :content, style: "display: block", class:"form-label" %>
      <%= form.text_area :content, class:"form-control" %>
    </div>

    <div>
      <div>
  <%= form.label :anonymous, class: "form-check-label" do %>
    <%= form.check_box :anonymous, class: "form-check-input", id: "comment_anonymous" %>
    Comentar como anónimo
  <% end %>
</div>

<div id="username_field">
  <%= form.label :username, style: "display: block", class: "form-label" %>
  <%= form.text_field :username, value: current_user.username, class: "form-control" %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const anonymousCheckbox = document.getElementById("comment_anonymous");
    const usernameField = document.getElementById("username_field");

    anonymousCheckbox.addEventListener("change", function() {
      usernameField.style.display = this.checked ? "none" : "block";
    });
  });
</script>



    <div>
      <%=form.hidden_field :user_id, value: current_user.id  %>
    </div>

    <div>
      <%= form.hidden_field :publication_id, value: @publication.id  %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>
