<%= form_with(model: publication) do |form| %>
  <% if publication.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(publication.errors.count, "error") %> No se pudo grabar la publicación</h2>

      <ul>
        <% publication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="container mt-5">
    <div class="mb-3 ">
      <%= form.label :imagen, style: "display: block", class:"form-label" %>
      <%= form.text_field :image, class:"form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :titulo, style: "display: block" %>    
      <%= form.text_field :title, class:"form-control" %>
    </div>

    <div class="mb-3">    
      <%= form.label :descripción, style: "display: block", class:"form-label" %> 
      <%= form.text_area :description, class: "form-control"%>
     </div>    

    <div>      
      <%=  form.hidden_field current_user.role %>
    </div><br>

    <div class="mt-3">
      <%= form.submit %>
    </div>
  </div>
<% end %>
